# Copy to .env and fill in values
# Generate secrets with: openssl rand -hex 32

AUTHELIA_JWT_SECRET=
AUTHELIA_SESSION_SECRET=
AUTHELIA_STORAGE_ENCRYPTION_KEY=

LLDAP_JWT_SECRET=
LLDAP_ADMIN_PASS=
LLDAP_BASE_DN=dc=coma,dc=henriksen,dc=es
